<!DOCTYPE html>
<html lang="en">
<!--head Connection-->
<%- include ("../partials/head.ejs") %>
<body>   
    <!-- Bootstrap containers-->
    <div class="container-fluid container3-mainBody full-height">
       <!--Left Hand Side column: contains the Admin Logo-->
        <div class="col-4 leftimage-col">
            <img src="/images/profileImages/adminIcon.jpg" class="indexLoginIcon" alt="icon">
        </div>
        <!--Right Hand Side column: Main Content-->
        <div class="col-8 rightSide-col ">
            <div>
                <h1>Admin Login Page</h1><br><br><br>
            </div>
            <div> <!--Login Form Div-->
                <!--Admin Login Form-->
                <form action="/admin/admin_loginpage" method="post">
                        <!--User and Password that will be checked if exists-->
                    <div class="row"> 
                         <!--User and Password that will be checked if exists-->
                        <div id="userLoginForm"><br>
                            <label for="username">Username: </label>
                            <input type="text" name="username" placeholder="Username"  required> 
                            <br><br>
                            <label for="password"> Password: </label>
                            <input type="password" name="password" placeholder="Password"  required> 
                            <br><br>  <br> 
                            <button type="submit" id="userLoginButton"> Enter </button> <!--Submit button-->
                        </div>  
                        <!-- Error message if Admin credentials are incorrect -->
                         <div id="errorMessage" style="font-size: 100px">
                            <% if(errorMessage) { %>
                             <div>
                                <%= errorMessage %>
                            </div>
                            <% }%> <br>
                        </div>
                    </div>
                </form>
                <!-- Not need just from orginal set up-->
                <!--  <a href="/admin/reg_adminpage"><h3>Register</h3></a> -->

                <!--Not created yet might not have due to user role as admin-->
                <!--a href="/forgottenpass"> <h3>Forgotten Password</h3></a-->

            </div>   <!--End of Login Form Div-->

                 
        </div> <!-- end of Right Hand Side column: Main Content-->
        
    </div> <!-- End of Container div -->
    <!--Footer Connection-->
    <%- include ("../partials/footer_genPages.ejs") %>%>   
 </body>
</html>