<footer>
    <div class="container4-footer">
        <div class="row nav-scroller py-1 mb-2">
            <div class="col-sm">
                <a href="/" ><p class="linkFooter">Home</p> </a> <br>
                <a href="https://www.facebook.com/">
                     <img src="../../images/mediaIcons/fbicon.png"  class="fal fa-square" width="150" height="150" alt="icon">
                </a>  
                <br> <br>
                


            </div>
            <div class="col-sm">
                <a href="/about"> <p>About</p> </a> <br>
                <a href="https://www.instagram.com/">
                     <img src="../../images/mediaIcons/instaicon.png" class="fal fa-square" width="150" height="150" alt="icon" >
                </a> 
                <br><br> 
                 <p> Privacy Policy | Terms & Conditions </p>
                <p>Copyright &copy; M'Ainmhi Limited  - VAT #654987123A - Company #147852AM</p>
            </div>
            <div class="col-sm"> 
                <a href="/support"> <p>Support</p></a> <br>
                <a href="https://youtu.be/wh13k-ELKJ0?si=81_2ArwizVt1tcFS" target="_blank"> 
                    <img src="../../images/mediaIcons/youtubicon.png" class="fal fa-square" width="150" height="150"alt="icon"Youtube>
                </a>
            </div>   
            
        </div>         
    </div>
</footer>



<!--div class="row">
            <div class="col-sm">
                <a href="https://www.facebook.com/">
                     <img src="images/mediaIcons/fbicon.png"  class="fal fa-square" width="150" height="150" alt="icon">
                </a>  
            </div>
            <div class="col-sm">
                <a href="https://www.instagram.com/">
                     <img src="images/mediaIcons/instaicon.png" class="fal fa-square" width="150" height="150" alt="icon" >
                </a> 
            </div>
            <div class="col-sm"> 
                <a href="https://youtu.be/wh13k-ELKJ0?si=81_2ArwizVt1tcFS" target="_blank"> 
                    <img src="images/mediaIcons/youtubicon.png" class="fal fa-square" width="150" height="150"alt="icon"Youtube>
                </a>
            </div>  
        </div>     
        <div class="row">
            <div class="col"> 
                <p> Privacy Policy | Terms & Conditions </p>
                <p>Copyright &copy; M'Ainmhi Limited  - VAT #654987123A - Company #147852AM</p>
             </div>   
        </div -->         
