<footer>
    <div class="foot p-2" >
        <hr>
        Copyright &copy; M'Ainmhi Limited
        <br><br>
        <a href="https://www.facebook.com/" target="_blank">Facebook </a> |
        <a href="https://www.instagram.com/" target="_blank">Instagram </a> |
        <a href="https://youtu.be/wh13k-ELKJ0?si=81_2ArwizVt1tcFS" target="_blank">Youtube</a> |

        <a href="/about" target="_blank"> About </a>  |
        <a href="/support"target="_blank"> Support</a>
<!--
        <a href="https://www.facebook.com/" target="_blank"><img src="/images/mediaIcons/fbicon.png" alt="facebookIcon" style="width:4%"></a>
        <a href="https://www.instagram.com/" target="_blank"><img src="/images/mediaIcons/instaicon.png" alt="instaicon"style="width:4.5%"></a>
        <a href="https://youtu.be/wh13k-ELKJ0?si=81_2ArwizVt1tcFS" target="_blank"><img src="/images/mediaIcons/youtubicon.png" alt="youtubicon" style="width:6%"></a>
-->
    </div>
</footer>