<footer>
    <div class="foot p-2" >
        
        <a href="/about" target="_blank"> About </a>  |
        <a href="/support"target="_blank"> Support</a> |
        <a href="/"> Home </a> |
        <a href="/logout">Log out of account</a> |
        <a href="/user/user_profile"> User Profile </a>  
        <br> ------------------------------------------ <br>
        <a href="https://www.facebook.com/" target="_blank">Facebook </a> |
        <a href="https://www.instagram.com/" target="_blank">Instagram </a> |
        <a href="https://youtu.be/wh13k-ELKJ0?si=81_2ArwizVt1tcFS" target="_blank">Youtube</a> |

        <br>
        Copyright &copy; M'Ainmhi Limited
        <br><br>

    </div>
</footer>