<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M'Ainmhí | <%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
<!--Adding Content Security Policy
    - default-src return resources from same origin
 - script-src Controls loading and starting of Javascript  - strict-dynamic'(doesnt like) - actively loads trusted scripts - 'nonce-rAnd0m123' - only nonce scripts can be applied
    -  object-src 'none'; - no types of plugins or flash objects are allowed to run
    -  require-trusted-types-for 'script'; - security feature to prevent XSS attacks
    - img-src 'self'securing images from same origin
-->
    
      <meta http-equiv="Content-Security-Policy" 
        content="
            default-src 'self'  
            script-src 'nonce-rAnd0m123'; 
            object-src 'none';
            require-trusted-types-for 'script';
            img-src 'self';
        ">

        <!--Style Sheet-->
    <link rel="stylesheet" href="/css/styles.css">
   
   
</head>

