<header div class=" container1-header" >
    <h1> M'Ainmhi</h1>  
    <h2>Your pet is the heart of it!</h2>

    <div class="row nav-scroller py-1 mb-2 container2-navbar">
            <div class="col-sm">
                <a href="/">Home </a> 
            </div>
             <div class="col-sm">
                <a href="/about"> About </a> 
            </div>  
            <div class="col-sm">
                <a href="/support"> Support</a>
            </div>                     
    </div>
</header>
