<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head.ejs") %>
<body>

    <div class="container-fluid full-height"> 
         <div class="col-4">
             <img src="/images/profileImages/woman.png" alt=""><br><br> <!--https://www.pexels.com/photo/closeup-photo-of-woman-with-brown-coat-and-gray-top-733872/-->
            <h3>Name: Linda Green </h3>
            <h4>Email: LindaGreen@gmail.com </h4>
            <h4>Contant Number: +353 087 897 1570 </h4>

            <br><br>

             <a href="/insurance/insurance_profile"><button>Account</button></a>
         </div>
         <div class="col-8 ">
                <h1>Welcome to M'Ainmhi</h1>

                <h2>Welcome Linda Green !</h2>

                <h3>Please To store your beloved pet medical information</h3><br>

                <a href="/insurance/clients_list"><img src="/images/profileImages/lizard.png" alt="dogfake" class="rounded-circle" width="250" height="250">  <br></a>

         </div>
    </div>




 
    <!--Footer-->
    <%- include ("../partials/footer.ejs") %>%>
</body>
</html>