<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("./partials/head.ejs") %>

<body>
      <div class="container-fluid conatainer3-mainBody">
            <!--header-->
            <%- include ("./partials/header.ejs") %>%>   
            <!--https://getbootstrap.com/docs/4.0/layout/grid/-->
            <div class="row">
               <div class="col-md-9 ">
                  <h3>About us </h3>
                  <p> 
                     M'Ainmhi is irish for my animal, which is the heart of what this site is about. 
                     A place that a pet owner of any type can create a profile and track their pets health and claim information. 
                     A simple progress that
                  </p>
               </div>
              <div class="col-3">
                  <img src="/images/about/vets.png" class="img-fluid" alt="">
                  <!--https://unsplash.com/photos/it-doesnt-hurt-at-all-hands-of-two-veterinarians-in-protective-gloves-putting-on-a-protective-plastic-collar-on-a-small-dog-lying-on-the-table-in-veterinary-clinic-pet-care-concept-medicine-concept-animal-hospital-zIMUKke759I-->
               </div>  
            </div>
            <div class="row">
               <div class="col-3">
                  <img src="/images/about/vets.png" class="img-fluid" alt="">
               </div>                  
               <div class="col-9">
                  <h3>History of Site</h3>
                  <p> 
                     In viverra lorem ut nibh laoreet, suscipit molestie erat dapibus. Ut eu nibh erat. 
                     Suspendisse dictum et augue a tincidunt. Proin facilisis lorem sapien, eget auctor urna cursus sed.>
                     Mauris quis tempus sem. Nunc tempus magna vitae enim condimentum mollis. Pellentesque vitae condimentum enim. 
                     Nam ac justo id velit imperdiet pulvinar.
                  </p>
               </div>
            </div>  

            <div class="row">
               <div class="col-md-9">
                  <h3>Subscription</h3>
                  <p> 
                     In viverra lorem ut nibh laoreet, suscipit molestie erat dapibus. Ut eu nibh erat. 
                     Suspendisse dictum et augue a tincidunt. Proin facilisis lorem sapien, eget auctor urna cursus sed.>
                     Mauris quis tempus sem. Nunc tempus magna vitae enim condimentum mollis. Pellentesque vitae condimentum enim. 
                     Nam ac justo id velit imperdiet pulvinar.
                  </p>
               </div>
              <div class="col-3">
                  <img src="/images/about/vets.png" class="img-fluid" alt="">
               </div> 
            </div>    
            <div class="row">
               <div class="col-3">
                  <img src="/images/about/vets.png" class="img-fluid" alt="">
               </div> 
               <div class="col-md-9">
                  <h3>Benefits</h3>
                  <p> 
                     In viverra lorem ut nibh laoreet, suscipit molestie erat dapibus. Ut eu nibh erat. 
                     Suspendisse dictum et augue a tincidunt. Proin facilisis lorem sapien, eget auctor urna cursus sed.>
                     Mauris quis tempus sem. Nunc tempus magna vitae enim condimentum mollis. Pellentesque vitae condimentum enim. 
                     Nam ac justo id velit imperdiet pulvinar.
                  </p>
               </div>
            </div>         
            <div class="row">
               <div class="col-md-9 ">
                  <h3>Future of the Site</h3>
                  <p> 
                     In viverra lorem ut nibh laoreet, suscipit molestie erat dapibus. Ut eu nibh erat. 
                     Suspendisse dictum et augue a tincidunt. Proin facilisis lorem sapien, eget auctor urna cursus sed.>
                     Mauris quis tempus sem. Nunc tempus magna vitae enim condimentum mollis. Pellentesque vitae condimentum enim. 
                     Nam ac justo id velit imperdiet pulvinar.
                  </p>
               </div>
              <div class="col-3">
                  <img src="/images/about/vets.png" class="img-fluid" alt="">
               </div>   
            </div>                            

   </div><!--Container-fluid closed div-->
   <!--Footer-->
   <%- include ("./partials/footer.ejs") %>  
</body>
</html>