<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("./partials/head.ejs") %>

<body>
    <!--nav bar-->
    <%- include ("partials/navbar/nav.ejs") %>

    <h1>Welcome to M'Ainmhi</h1>

    <h3>Please To store your beloved pet medical information</h3>

    <h1>About us </h1>

    
    <!--Footer-->
    <%- include ("./partials/footer.ejs") %>
</body>

</html>