<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("./partials/head.ejs") %>

<body>

      <!--Header Bar-->
     <header class="head text-center p-3">
         <h1>Welcome to M'Ainmhi</h1>
     </header> 

        <!--nav bar-->
        <%- include ("partials/navbar/nav.ejs") %>
    <div id="aboutContent">
    <h3>Please To store your beloved pet medical information</h3>

    <h1>About us </h1>
     <div>
             M'Ainmhi is irish for my animal, which is the heart of what this site is about. A place that a pet owner of any type can create a profile and track their pets health and claim information. <br>
             A simple progress that 
     </div>

    <h2>History of Site</h2>
      <div>
            In viverra lorem ut nibh laoreet, suscipit molestie erat dapibus. Ut eu nibh erat. <br>
             Suspendisse dictum et augue a tincidunt. Proin facilisis lorem sapien, eget auctor urna cursus sed. <br>
             Mauris quis tempus sem. Nunc tempus magna vitae enim condimentum mollis. Pellentesque vitae condimentum enim. <br>
            Nam ac justo id velit imperdiet pulvinar. 
     </div>

    <h2>Subscription</h2>
       <div>
            In viverra lorem ut nibh laoreet, suscipit molestie erat dapibus. Ut eu nibh erat. <br>
             Suspendisse dictum et augue a tincidunt. Proin facilisis lorem sapien, eget auctor urna cursus sed. <br>
             Mauris quis tempus sem. Nunc tempus magna vitae enim condimentum mollis. Pellentesque vitae condimentum enim. <br>
            Nam ac justo id velit imperdiet pulvinar. 
     </div>
    <h3>Benefits</h3>
          <div>
            In viverra lorem ut nibh laoreet, suscipit molestie erat dapibus. Ut eu nibh erat. <br>
             Suspendisse dictum et augue a tincidunt. Proin facilisis lorem sapien, eget auctor urna cursus sed. <br>
             Mauris quis tempus sem. Nunc tempus magna vitae enim condimentum mollis. Pellentesque vitae condimentum enim. <br>
            Nam ac justo id velit imperdiet pulvinar. 
     </div>
    <h4>User Company</h4>
      <div>
            In viverra lorem ut nibh laoreet, suscipit molestie erat dapibus. Ut eu nibh erat. <br>
             Suspendisse dictum et augue a tincidunt. Proin facilisis lorem sapien, eget auctor urna cursus sed. <br>
             Mauris quis tempus sem. Nunc tempus magna vitae enim condimentum mollis. Pellentesque vitae condimentum enim. <br>
            Nam ac justo id velit imperdiet pulvinar. 
     </div>
    <h4>Insurance Company</h4>
       <div>
            In viverra lorem ut nibh laoreet, suscipit molestie erat dapibus. Ut eu nibh erat. <br>
             Suspendisse dictum et augue a tincidunt. Proin facilisis lorem sapien, eget auctor urna cursus sed. <br>
             Mauris quis tempus sem. Nunc tempus magna vitae enim condimentum mollis. Pellentesque vitae condimentum enim. <br>
            Nam ac justo id velit imperdiet pulvinar. 
     </div>
    <h2>Future of the Site</h2>
       <div>
            In viverra lorem ut nibh laoreet, suscipit molestie erat dapibus. Ut eu nibh erat. <br>
             Suspendisse dictum et augue a tincidunt. Proin facilisis lorem sapien, eget auctor urna cursus sed. <br>
             Mauris quis tempus sem. Nunc tempus magna vitae enim condimentum mollis. Pellentesque vitae condimentum enim. <br>
            Nam ac justo id velit imperdiet pulvinar. 
     </div>
    <h2>Security</h2>
       <div>
            In viverra lorem ut nibh laoreet, suscipit molestie erat dapibus. Ut eu nibh erat. <br>
             Suspendisse dictum et augue a tincidunt. Proin facilisis lorem sapien, eget auctor urna cursus sed. <br>
             Mauris quis tempus sem. Nunc tempus magna vitae enim condimentum mollis. Pellentesque vitae condimentum enim. <br>
            Nam ac justo id velit imperdiet pulvinar. 
     </div>
    </div>
    <!--Footer-->
    <%- include ("./partials/footer.ejs") %>
</body>

</html>