<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("./partials/head.ejs") %>

<body>
    <!--nav bar-->
    <%- include ("partials/navbar/nav.ejs") %>
    <h1>Welcome to M'Ainmhi</h1>

    <h3>Please To store your beloved pet medical information</h3><br>


    <h3>Claims</h3>

    <% var sMessage="Hello there from EJS" %>
    <%= sMessage %>

    
    <!--Footer-->
    <%- include ("./partials/footer.ejs") %>%>

</body>

</html>