<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("./partials/head.ejs") %>

<body>
     <!--Header Bar-->
    <header class="head text-center p-3">
        <h1>Welcome to M'Ainmhi</h1>
    </header>    

       
            <!--nav bar-->
        <%- include ("partials/navbar/nav.ejs") %>


        <h3>Please To store your beloved pet medical information</h3><br>

        <% var sMessage="Choose User or Insurance Company path" %>
        <%= sMessage %>

        <br>


        <div class="row mt-3">
            <div class="col-6 user-account">User Account <br>
                <a href="/user/user_loginpage"><img src="images/accountsImages/UsersIcon.png" alt="icon"></a>
            </div>
            <div class="col-6 insurance">Insurance Company <br>
                <a href="/insurance/insurance_loginpage"> <img src="images/accountsImages/InsuranceIcon.png" alt="icon"></a>
            </div>
        </div> 




    <!--Footer-->
    <%- include ("./partials/footer.ejs") %>%>

</body>

</html>

<!--
image ref
 https://icon-library.com/icon/pet-icon-png-15.html
  https://www.flaticon.com/free-icon/insurance-company_9417371
   -->
