<!DOCTYPE html>
<html lang="en">
<!--head Connection--> 
<%- include ("./partials/head.ejs") %>
<body>
   <!-- Bootstrap containers div -->
  <div class="container-fluid container3-mainBody">
    <!--header Connection-->
    <%- include ("./partials/header.ejs") %>  
    <div class="row">
      <div class="indexTxt">
          <p><br>
              Click on the image to be directed to the correct login page. <br>
              If you dont have an account, please follow the on page directions to register your account
          </p>
      </div>    
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 user-account"><!--h3>User Account</h3-->
        <a href="/user/user_loginpage"><img src="images/accountsImages/usersIcon.jpg" class="indexLoginIcon" alt="icon"></a>
        <h3>Personal Login or Register Account</h3>
      </div> <!--https://www.istockphoto.com/search/more-like-this/1404578140?assettype=image&mediatype=illustration&phrase=person%20and%20dog%20icon-->
      
      <div class="col-sm-12 col-md-6 insurance"><!--h3>Insurance Company</h3-->
        <a href="/insurance/insurance_loginpage"> <img src="images/accountsImages/insuranceIcon.jpg" class="indexLoginIcon" alt="icon"></a>
        <h3>Insurance Company Login </h3><br><br><br>
      </div><!--https://www.flaticon.com/free-icon/company_15761984?term=insurance+company&page=2&position=82&origin=search&related_id=15761984-->
      
    </div> 

    <!--https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_carousel2&stacked=h-->
     <div class="row-carousel">
        <div id="carousel" class="carousel slide" data-ride="carousel"><br>
          <!-- Indicators  -->
          <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
          </ol>     
             <!-- Wrapper for slides -->
             <div class="carousel-inner">
               <div class="item active">
                 <img src="images/carousel/lipenHeart.jpeg" class="img-fluid" alt="lipenHeart" >
                 <div class="carousel-caption ">
                   <h3>Love of your animal</h3>
                   <p>Looking after your animal information has never been easier</p>
                 </div>
               </div>
           
               <div class="item" >
                 <img src="images/carousel/lipen-cone.jpg" class="img-fluid" alt="cone">
                 <div class="carousel-caption">
                   <h3>For all their Accidents</h3>
                   <p>You never know when this issues will pop up, but being prepared has never been easier</p>
                 </div>
               </div>
           
               <div class="item">
                 <img src="images/carousel/lipen_walk.jpeg" class="img-fluid" alt="walkiesHappy">
                 <div class="carousel-caption">
                   <h3>Keeping you and your Pet happy</h3>
                   <p>The goal of being stress free, is our goal </p>
                 </div>
               </div>
             </div>        
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
     </div>      
    <div id="petAds">
      <img src="images/about/adthree.jpg" class="adImage"> <!--https://www.istockphoto.com/photo/dry-cat-food-flies-out-of-a-bowl-on-a-white-background-isolated-gm1690664358-537477698?searchscope=image%2Cfilm-->
      <img src="images/about/adfour.jpg" class="adImage"> <!--https://www.istockphoto.com/photo/funny-british-shorthair-cat-portrait-looking-shocked-or-surprised-gm1361394182-433852083?searchscope=image%2Cfilm-->
    </div>
    <div class="row">
      <div class="indexTxt"><br>
       
        <h3><br> M'Animhi mission in life is to make the life of pet owner a lot less stressful. Est: 2024</h3><br>
        <p><br>
          Placing the heart of looking after your pets medical history, make your way through our site 
          Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis.
          Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere.
          Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.
          Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis.
          Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. 
          Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos. <br><br> </p> 
          <!--https://loremipsum.io/generator/?n=5&t=p-->
        </p>
      </div>    
    </div>

    <div id="petAds">
      <img src="images/about/adfive.jpg" class="adImage"> <!--https://www.istockphoto.com/photo/young-woman-caring-for-cows-gm1030239488-276030171?searchscope=image%2Cfilm-->
      <img src="images/about/adseven.jpg" class="adImage"><br> <!--https://www.istockphoto.com/photo/koala-resting-and-sleeping-on-his-tree-gm530674261-54744072?searchscope=image%2Cfilm-->
      <br><br><br>
    </div>
  </div>  <!-- End of Bootstrap containers div -->
   <!--Footer-->
  <%- include ("./partials/footer_genPages.ejs") %>  
</body>
</html>

<!--
 <% var sMessage="Choose User or Insurance Company path" %>
            <%= sMessage %>

image ref
 https://icon-library.com/icon/pet-icon-png-15.html
  https://www.flaticon.com/free-icon/insurance-company_9417371
   -->
