<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("./partials/head.ejs") %>

<body>

  

     <h1>Welcome to M'Ainmhi</h1>

          <!--nav bar-->
          <%- include ("partials/navbar/nav.ejs") %>

    <h1>Support </h1>


    <% var sMessage="Hello there from EJS" %>
    <%= sMessage %>
    <br>


    <h3>Form</h3>
    <h3>Email</h3>
    <h3>Contact Number</h3>






   <!--Footer-->

    <%- include ("./partials/footer.ejs") %>
</body>

</html>