/***********General Details ***************/

/** individual  Styles for containers  **/

.container1-header{
    height:50xp;
    padding:20px;
    border: 10px;
}

/** NAV BAR **/
.container2-navbar{
 text-decoration: none;
}
.container2-navbar a:hover{
  color: #8C3061;
}
.container2-navbar, a:visited{
  
}


/*##################################*/

.container3-mainBody{
      text-align: left;
}

.container4-footer{
    color: black;  /*  Font colour  // color: #8C3061; */
    background-color: #FFCF81; 
}

/**  Shared parts per 2 containers **/


/* Shared Body parts header +  Footer */
.container1-header,
.container4-footer {
  font-size: 50px;
}
/* Shared Body parts  nav + main body */
.container2-navbar,
.container3-mainBody{
    font-size: 2em;
}
/* Shared Body parts Nav +  Footer */
.container2-navbar,
.container4-footer {
    padding: 25px;
    margin-block: auto;
}
/* Shared Body parts  main body + Footer */
.container3-mainBody,
.container4-footer {
    padding: 25px;
    border: 15px;
}
/* Shared Body parts header + nav + Footer */
.container1-header, 
.container2-navbar,
.container4-footer {
    text-align: center;
}
/* Shared Body parts nav / main body / Footer */
.container2-navbar,
.container3-mainBody,
.container4-footer {
    padding: 25px;
}
/* Shared Body parts header / nav / main body */
.container-fluid,
.container1-header, 
.container2-navbar,
.container3-mainBody{
   background-color: white;
    color: #8C3061;
}

/**  All shared parts **/
.container-fluid,
.container1-header, 
.container2-navbar,
.container3-mainBody,
.container4-footer {

}

/* ################################################# */


.miniver-regular, h1 {
  font-family: "Miniver", cursive;
  font-weight: 400;
  font-style: normal;
}
.rouge-script-regular, h2 {
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
}
 h1{
/*  text-align: center; */
  font-size: 200px;
}
h2{
/*  text-align: center; */
  font-size: 150px;
}
h3{
  font-size: 100px;
/*  text-align: center; */
  font-weight: bold;
}
h4{
  font-size: 80px;
  font-weight: 900;
 
}
p{
  font-size: 80px;
/*  text-align: center; */
}
#indexTxt{
  font-size: 80px;
}

.grid-container {
  display: grid;
  padding: auto;
}


/**************  links in footer **************/

#footer-links{
  text-align: center;
  text-decoration: none;
}

#footer-links a:hover{
  color: black;
}

#footer-links a:visited{
  color: #8C3061;
}

#footer-links a {
 text-decoration: none;
}

/*
.linkFooter{
  text-align: center;
}


*/


/*##### ##############*/
.icons {
  padding: 15px;
  text-align: center;
}


/** Icon  **/
.indexLoginIcon{
  width:2000px;
  height:2000px; 
}

/* Error message */

#errorMessage{
  font-size: 100px;
  text-align: center;
  color: red;
}

#errorText{
  font-size: 150px;
}

/**** Date ***/

#regDate{
  font-size: 80px;
}

/**************   Login Pages **************/

#userLoginForm{
 text-align: center;
 font-size: 80px;

}

.form-inline{
  font-size: 80px;
  padding: 15px;
  margin: 10px;
}

/* Button */
#userLoginButton{
  background-color: #8C3061;
  color: white;
  border: 10px;
  padding: 50px;
  text-align: left;
}

.userLoginButton{
  background-color: #8C3061;
  color: white;
  border: 40px;
  padding: 50px;
}



/******** Login / Logout *****************/

.logInOut{
  font-size: 70px;
}



/*************Media*******************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}


