.head{
    background-color: #8C3061;
    color: #FBF6E9;
}


body{
    background-color: white;
}

.foot{
    background-color: #8C3061;
    color: #FBF6E9;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 160%;
}
/**************  about **************/
#aboutContent{
  text-align: center;
}
/**************  INDEX **************/


.nav-links {
    background-color: #FFCF81;
    padding: 10px;
    text-align: center;
}


/* User Account */
.user-account {
    background-color: #3498db; /* Blue */
    color: white;
    padding: 15px;
    text-align: center;
}
/* Insurance Company */
.insurance {
    background-color: #e74c3c; /* Red */
    color: white;
    padding: 15px;
    text-align: center;
}




/**************  User Login page **************/
.col-4{
    background-color: #FFCF81;
}


.leftimage-col {
    background-color: #FFCF81;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Right column (Form) */
.rightSide-col {
    background-color: #FBF6E9;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.full-height {
    min-height: 100vh;
    display: flex;
}

/************ Pet Profile Page ***********/

.createPetAccount {
    color: black;
    padding: 15px;
    text-align: center;
}

#claimDisplay th {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background-color: #8C3061;
  color: white;
  border: 1px solid #ddd;
  padding: 10px;
}
#claimDisplay td {
  padding: 8px;
  font-size: 30px;
  text-align: left;
  border-bottom: 1px solid #DDD;
  background-color: white;
  
}
#claimDisplay:hover td{
  background-color: #D6EEEE;
}
/************ Insurance User Profile Page ***********/
.popup{
    padding: 25px;
    background-color: rgb(217, 55, 46);
    color: white;
}
.closepopup{
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closepopup:hover {
  color: black;
}



/*************ADMIN Side********************/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  font-size: 30px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}
/* tr:hover {background-color: #D6EEEE;}*/