/***********General Details ***************/

.container1-header{
  color: #8C3061;
  height:50xp;
  padding:20px;
  border: 10px;
  text-align: center;
  font-size: 50px;
}

.container2-navbar{
  color: #8C3061;
  padding: 25px;
  margin-block: auto;
  font-size: 2em;
  text-align: center;
}
.conatainer3-mainBody{
  color: #8C3061;
  padding: 25px;
  border: 15px;
 
  font-size: 2.5em;
}
.container4-footer{
  color: #8C3061;
  padding: 25px;
  text-align: center;
  color: black;
  border: 15px;   
  font-size: 50px;
  margin-block: auto;
 

}
/****** ******/
 h1, h2{
  text-align: center;
  font-size: 3.5em;
}
h3{
  font-size: 100px;
  text-align: center;
}
h4{
  font-size: 80px;
  text-align: left;
}
p{
  font-size: 80px;
  text-align: center;
}
#indexTxt{
  font-size: 80px;
}
.grid-container {
  display: grid;
  padding: auto;
}

/******** Login / Logout *****************/

.logInOut{
  font-size: 70px;
}

/**************  links in footer **************/
/*
a:link, a:hover{
  color: white;
   text-decoration: none;
    text-align: center;
}
    */
 a:hover{
  color: green;
  background-color: transparent;
   text-align: center;
 
}
.icons {
  padding: 15px;
  text-align: center;
}


/**************  INDEX **************/
.img-fluid{
  width:1000px;
  height:1000px; 
  position:sticky;
}
.indexLoginIcon{
  width:2000px;
  height:2000px; 
}


/* User Account */
.user-account {
  color: #8C3061;
  padding: 15px;
  text-align: center;
  font-size: 100px;
}

/* Insurance Company */
.insurance {
  color: #8C3061;
  padding: 15px;
  text-align: center;
  font-size: 100px;
}
/* carousel */

.carousel-caption{
  color: black;
}
.carousel-caption{
  font-size: 80px;
  text-align: center;
  color: rgb(240, 163, 18);
}
.carousel-caption, .item{
 position: fixed;
}
/**************  about **************/


/************** Support **************/

.formBackground{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-size: 3em;
  text-align: center;
}

/**********404***************/

.errImage{
 text-align: center;
}

/**************  User Login page **************/
.userLoginForm{
  border-radius: 5px;
 font-size: 3em;
  padding: 20px;
  text-align: center;
}

.userLoginIcon{
  width:3000px;
  height:2500px; 
  
}

.leftimage-col {
    background-color: #FFCF81;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Right column (Form) */
.rightSide-col {
    background-color: #FBF6E9;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.full-height {
    min-height: 100vh;
    display: flex;
}

.petprofileImg{
   width: 900px;
   height: 900px;
}

/*********** User Reg Page ***************/

.input-group{


}

userRegForm{
 
  box-sizing: border-box;
}


/************ Pet Profile Page ***********/

.createPetAccount {
    color: black;
    padding: 15px;
    text-align: center;
}

#claimDisplay th {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background-color: #8C3061;
  color: white;
  border: 1px solid #ddd;
  padding: 10px;
}
#claimDisplay td {
  padding: 8px;
  font-size: 30px;
  text-align: left;
  border-bottom: 1px solid #DDD;
  background-color: white;
  
}
#claimDisplay:hover td{
  background-color: #D6EEEE;
}
/************ Insurance User Profile Page ***********/
.popup{
    padding: 25px;
    background-color: rgb(217, 55, 46);
    color: white;
}
.closepopup{
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closepopup:hover {
  color: black;
}



/*************ADMIN Side********************/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  font-size: 30px;
  text-align: left;
  border-bottom: 1px solid #DDD;
}
/* tr:hover {background-color: #D6EEEE;}*/


/*************** Claim *********************/
.editClaimSection{
  display: none;
}


/*************Media*******************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container-fluid,.container1-header, .container2-navbar,
  .container3-mainBody{background-color: white;}
  .container4-footer{background-color: #FFCF81;}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container-fluid,.container1-header, .container2-navbar,
  .container3-mainBody{background-color: white;}
  .container4-footer{background-color: #FFCF81;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container-fluid,.container1-header, .container2-navbar,
  .container3-mainBody{background-color: white;}
  .container4-footer{background-color: #FFCF81;}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container-fluid,.container1-header, .container2-navbar,
  .container3-mainBody{background-color: rgb(230, 221, 208);}
  .container4-footer{background-color: #FFCF81;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container-fluid,.container1-header, .container2-navbar,
  .container3-mainBody{background-color: rgb(246, 238, 225);}
  .container4-footer{background-color: #FFCF81;}
}


/*###################  remove   ##################### */
/*
.header{
   grid-area: header;
   text-align: center;
   background-color: #8C3061;
   color: #FBF6E9;
    padding: 0;
    margin: 0
 
}

body{
    background-color: white;
}


.footer{
   grid-area: footer;
   text-align: center;
   background-color: #8C3061;
   color: #FBF6E9;
  
   
}

.navbar{
   grid-area: main;
   text-align: center;
   background-color: #8C3061;
   color: #FBF6E9;
  
   
}

.head{
    background-color: #8C3061;
    color: #FBF6E9;
}

.foot{
    column-count: 2;
    column-gap: 50px;
    background-color: #8C3061;
    color: #FBF6E9;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 160%;

}

*/