<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("../partials/head.ejs") %>

<body>
    <!--nav bar-->
    <!--
    <%- include ("../partials/navbar/nav.ejs") %>
    -->

    <div class="container-fluid full-height"> 

            <div class="col-4">
                <h3>Pets Name</h3>

            </div>
            <div class="col-8 ">

            
                <h1>Claims</h1>
            
                <% var sMessage="Pets Claims" %>
                <%= sMessage %>
            
                <br>  <br>

                <li>
                    <ol>claims 1</ol>
                    <ol>claims 2</ol>
                </li>

            
                <!-- Buttons while Code is being created to move around pages-->
                <a href="/user/pets_profile"><button>Pets</button></a>
                <a href="/"> <button>Home</button></a>

            </div>
    </div>       

   
    
    <!--Footer-->
    <%- include ("../partials/footer.ejs") %>%>

</body>

</html>