<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("../partials/head.ejs") %>

    <body>
        <!--nav bar-->
        <!--
        <%- include ("../partials/navbar/user_nav.ejs") %>
        -->
        <div class="container-fluid full-height"> 

            <div class="col-4">
                <% if (pets.length > 0) { %>
                    <% pets.forEach(pet => { %>
                        <h3>Pets Name <%= pet.petName %> </h3>
                        <% }); %>    
                <% } else { %>
                    <p>You have no pets registered.</p>
                <% } %>
            </div>
            <div class="col-8 ">
                <h1>Welcome to M'Ainmhi</h1>

                <h3>Please To store your beloved pet medical information</h3><br>
                <h1>PEt</h1><br>
                
        
                <!-- Buttons while Code is being created to move around pages-->
                <a href="/user/new_claims"><button>New Claims</button></a> <br>
                <a href="/user/user_profile"> <button>User Profile</button></a>
                <a href="/"> <button>Home</button></a>
        
            </div>
        </div>   



       
        
        <!--Footer-->
        <%- include ("../partials/footer.ejs") %>

    </body>

</html>