<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("../partials/head.ejs") %>
<body>
    <div class="container-fluid conatainer3-mainBody full-height ">
       
          <div class="col-4 leftimage-col ">
               <img src="/images/accountsImages/usersIcon.jpg" class="userLoginIcon" alt="icon">
               <br> <!--https://www.istockphoto.com/search/more-like-this/1404578140?assettype=image&mediatype=illustration&phrase=person%20and%20dog%20icon-->
          </div>

          <div class="col-md-8 rightSide-col ">
              <br>
              <div> 
                  <h1>Login </h1> 
                  <p>
                    <br>
                    Login into your account, and update your pets profile by adding your last pet medical history via claims. Keep up to date, just in case.
                  </p>
                  <br>
                 <p>
                    You don't have an account, create one <a href="/user/reg_userpage">Register Account</a> <br>
                    Follow the on screen directions
                 </p>
              </div>
              <br>
              
              <div id="registerSection">
                  <form action="/user/user_loginpage" method="post">
                      <div class="row userLoginForm"> 
                        <div >
                            <% if(errorMessage) { %>
                             <div>
                                <%= errorMessage %>
                            </div>
                            <% }%> 
                        </div>
                             <!--User and Password that will be checked if exists-->
                          <div>
                              <label for="username">Username: </label>
                               <input type="text" name="username" placeholder="Username"  required> 
                           </div>
                          <div> 
                              <label for="password"> Password: </label>
                              <input type="password" name="password" placeholder="Password"  required> <br> 
                          </div>
                          <div><br> <button type="submit"> Enter </button></div>   <!--Submit button-->
                      </div>
                  </form>
                  
                  <!--a href="/forgottenpass"> <h3>Forgotten Password</h3></a-->
                </div> 

             
          </div>
           
    </div><!--Container-fluid closed div-->    
    <!--Footer-->
    <%- include ("../partials/footer.ejs") %>      
</body>
</html>