<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("../partials/head.ejs") %>

    <body>
        <!--nav bar-->
        <%- include ("../partials/navbar/user_nav.ejs") %>

        <h1>Welcome to M'Ainmhi</h1>

        <h3>Please To store your beloved pet medical information</h3><br>
        <h1>USER</h1><br>
   

        <!--Footer-->
        <%- include ("../partials/footer.ejs") %>

    </body>

</html>