<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("../partials/head.ejs") %>
<body>
    <div class="container-fluid conatainer3-mainBody full-height ">
       
          <div class="col-4 leftimage-col ">
               <img src="/images/accountsImages/UsersIcon.png" class="userLoginIcon" alt="icon">
               <br>
          </div>

          <div class="col-md-8 rightSide-col ">
              <br>
              <div> 
                  <h3>User Login Page</h3> 
              </div>
              <br>
              
              <div>
                  <form action="/user/user_loginpage" method="post">
                      <div class="row userLoginForm"> 
                        <div >
                            <% if(errorMessage) { %>
                             <div>
                                <%= errorMessage %>
                            </div>
                            <% }%> 
                        </div>
                             <!--User and Password that will be checked if exists-->
                          <div>
                              <label for="username">Username: </label>
                               <input type="text" name="username" placeholder="Username"  required> 
                           </div>
                          <div> 
                              <label for="password"> Password: </label>
                              <input type="password" name="password" placeholder="Password"  required> <br> 
                          </div>
                          <div> <button type="submit"> Enter </button></div>   <!--Submit button-->
                      </div>
                  </form>
                  <a href="/user/reg_userpage"><h3>Register an account</h3></a> 
                  <a href="/forgottenpass"> <h3>Forgotten Password</h3></a>
                </div> 

             
          </div>
           
    </div><!--Container-fluid closed div-->    
    <!--Footer-->
    <%- include ("../partials/footer.ejs") %>      
</body>
</html>