<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("../partials/head.ejs") %>
    <body>
        <!--nav bar-->
        <!--%- include ("../partials/navbar/user_nav.ejs") %
        -->

        <div class="container-fluid full-height">

            <div class="col-4 leftimage-col">
                
                <img src="/images/accountsImages/UsersIcon.png" alt="icon">
            </div>
            
            
            <div class="col-8 rightSide-col">
                <h3>User Login Page</h3> <br>
                <div id="loginSection">
                    <form action="/user/user_loginpage" method="post">
                            <!--User and Password that will be checked if exists-->
                        <label for="username">Username: </label>
                        <input type="text" name="username" placeholder="Username" class="displayBox" required> <br>
                        <label for="password">Password: </label>
                        <input type="password" name="password" placeholder="Password"  class="displayBox" required> <br> 
                            <!--Submit button-->
                        <button type="submit">Enter </button>
                    
                    </form>
                    
                    
                    <br>
                        
                    <a href="/user/reg_userpage">Register an account</a> <br> <br>
                    <a href="/forgottenpass"> | Forgotten Password</a>

                    <br><br>

                    
                   
                </div>
                <br>


                <!-- Buttons while Code is being created to move around pages-->
                 <br><br>
                <a href="/"> <button>Home</button></a>
                <a href="/user/pets_accountCreation"> <button>Pet Profile Creation</button></a>
                <a href="/user/user_profile"> <button>User Profile</button></a>
                
             </div>
        </div>

        <!--Footer-->
        <%- include("../partials/footer.ejs") %>

        <!-- <script src="/js/userlogin.js"></script> -->

    </body>

</html>