<nav>
    <div class="container-fluid container2-navbar">
        <div class="row">
            <div class="col-sm">
                <a href="/">Home </a> 
            </div>
            <div class="col-sm">
                <a href="/about"> About </a> 
            </div>
            <div class="col-sm"> 
                <a href="/support"> Support</a> 
            </div>   
        </div>   
    </div>
</nav>
