<nav>
    <a href="/">Home</a> |
    <a href="/contact">Contact Us</a> |
    <a href="/claims">Claims</a> |
    <a href="/user/user_profile">User profile</a> |
    <a href="/user/pets_profile">Pet profile</a> 
</nav>
