<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("../partials/head.ejs") %>

    <body>
        <!--nav bar-->
        <!--
        <%- include ("../partials/navbar/user_nav.ejs") %>
          -->
        <div class="container-fluid full-height"> 
            <div class="col-4">
                 <img src="/images/profileImages/lizard.png" alt="">
                <h3>Pets Name: Teddy </h3>
                <h4>Pets Type: lizard</h4> <!--https://www.pexels.com/photo/green-and-yellow-iguana-33321/-->
                <h4>Pets Breed: Iguana </h4>
                <h4>Pets Gender: Male </h4>
                <h4>D.O.B: 09/08/2009 </h4>
                <h4>Pets Colour: green </h4>
                <h4>Microchipping: Yes  </h4>
                <h4>Microchipping Number:  900209292009 </h4>
                <h4>Policy Number:  250411rnserlt11042025</h4>
                <h4>Insurance Company: Ernser LLC Insurance Ltd  </h4>
                <br>
                 <a href="/insurance/insurance_profile"> <button>Account</button></a>
            </div>
            
            <div class="col-8 ">
                <h1>Welcome to M'Ainmhi</h1>

                 <h3>Please To store your beloved pet medical information</h3><br>
      

                 <h1>List of Claims </h1>
                          <table id="claimDisplay">
                         <tr>
                            <th> Claim Title  </th>
                            <th> Area Of Issue:  </th>
                            <th> Claims Status </th>
                            <th> View Claims  </th>
                            <th> Change Status</th>
                           
                        </tr>
                            <td>Tail Wound</td>
                            <td>Tail</td>
                            <td> Waiting </td>
                            <td> <a href="/insurance/test_views">View</a></td>
                            <td>
                                <select>
                                    <option value="blank">  </option>
                                    <option value="updateNeeded">User update needed</option>
                                    <option value="moreInfo">Waiting on vet information</option>
                                    <option value="working">Working on</option>
                                    <option value="confirmed">Confirmed</option>
                                
                                </select>
                            </td>
                        <tr>
                          
                    </table>

                 <br>

                 <!-- Buttons while Code is being created to move around pages-->
                
                 <!--a href="/insurance/insurance_profile"> <button>Account</button></a-->
            </div>
        </div>      

        

        <!--Footer-->
        <%- include ("../partials/footer.ejs") %>

    </body>

</html>