<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("../partials/head.ejs") %>

    <body>
        <!--nav bar-->
        <!--
        <%- include ("../partials/navbar/user_nav.ejs") %>
          -->
        <div class="container-fluid full-height"> 
            <div class="col-4">
                <h3>Pets Name</h3>
            </div>

            <div class="col-8 ">
                <h1>Welcome to M'Ainmhi</h1>

                 <h3>Please To store your beloved pet medical information</h3><br>
      

                 <h1>List of Claims </h1>


                 <br>

                 <!-- Buttons while Code is being created to move around pages-->
                 <a href="/"> <button>Home</button></a>
            </div>
        </div>      

        

        <!--Footer-->
        <%- include ("../partials/footer.ejs") %>

    </body>

</html>