<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("../partials/head.ejs") %>
<body>   
     <div class="container-fluid conatainer3-mainBody full-height">
       
        <div class="col-4 leftimage-col">
            <img src="/images/accountsImages/insuranceIcon.jpg" class="indexLoginIcon" alt="icon">
         </div>

        <div class="col-8 rightSide-col ">
            <div>
                <h1>Insurance Login Page</h1><br> <br>
                <p>
                    Login into your Company account, to link up with your policy holders claims.
                </p><br>
                <p>
                    If your company isnt registered, create one <a href="/insurance/reg_insuranceCompany"data-cy="regICU">Register account</a> and follow the on screen directions,
                    or go back to the <a href="/">Home</a> page
                 </p>
                </p><br>
            </div>
            <div id="registerSection">
                <form action="/insurance/insurance_loginpage" method="post">
                        <!--User and Password that will be checked if exists-->
                    <div class="row"> 

                               <!--User and Password that will be checked if exists-->
                        <div id="userLoginForm">  <br>
                            <label for="username">Username: </label>
                            <input type="text" name="username" placeholder="Username"  required>
                            <br><br>
                            <label for="password"> Password: </label>
                            <input type="password" name="password" placeholder="Password"  required> <br> <br> 
                            <br>
                            <button type="submit" id="userLoginButton"> Enter </button>
                        </div>   
                          <div id="errorMessage" style="font-size: 100px">
                            <br>
                            <% if(errorMessage) { %>
                             <div>
                                <%= errorMessage %>
                            </div>
                            <% }%> <br>
                        </div>
                    </div>
                </form>
                   
                    <!--a href="/forgottenpass"> <h3>Forgotten Password</h3></a-->
            </div>   
                
        </div>
    </div> 
    <!--Footer-->
    <%- include ("../partials/footer_genPages.ejs") %>%>   
 </body>
</html>