<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("../partials/head.ejs") %>

    <body>
        
        <div class="container-fluid full-height">

            <div class="col-4 leftimage-col">
                <img src="/images/accountsImages/InsuranceIcon.png" alt="icon">
            </div>


            <div class="col-8 rightSide-col">
                <h3>Insurance Login Page</h3><br>
       
                
                <div id="companyLoginSection">
                    <form action="/insurance/insurance_loginpage" method="post">
                    <!--User and Password that will be checked if exists-->
                        <label for="username">Username</label>
                        <input type="text" name="username" placeholder="Username" class="displayBox" required> <br>
                        <label for="password">Password</label>
                        <input type="password" name="password" placeholder="Password"  class="displayBox" required> <br> <br>
                        <!--Submit button-->
                        <button type="submit">Enter</button>
                   </form>

                   <br>
                   <!-- a href="/insurance/reg_insuranceUser">Register account</a-->
                   <a href="/insurance/reg_insuranceCompany">Register account</a>
                   
                 </div>   
                
     
            </div>
        </div>    

       

        <!--Footer-->
        <%- include ("../partials/footer.ejs") %>%>

    </body>

</html>