<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("../partials/head.ejs") %>

    <body>
        <!--nav bar-->
        <!--
        <%- include ("../partials/navbar/insurance_nav.ejs") %>
         -->
 
        <div class="container-fluid full-height"> 

            <div class="col-4">
                <h1>Insurances</h1><br>
            </div>
            <div class="col-8 ">
                <h1>Welcome to M'Ainmhi</h1>

        
      
        
                <br><br>
        
        <!-- Buttons while Code is being created to move around pages-->

                <a href="/insurance/clients_list"><button>Clients list</button></a>
        
            </div>
        </div>

       

        <!--Footer-->
        <%- include ("../partials/footer.ejs") %>

    </body>

</html>