<!DOCTYPE html>
<html lang="en">
<!--head-->
<%- include ("../partials/head.ejs") %>

    <body>
        <!--nav bar-->
        <%- include ("../partials/navbar/insurance_nav.ejs") %>

        <h1>Welcome to M'Ainmhi</h1>

        
        <h1>Insurances</h1><br>
   

        <!--Footer-->
        <%- include ("../partials/footer.ejs") %>

    </body>

</html>